@import '../../assets/styles/';

.infoItem {
  display: flex;  
  flex-direction: column;
  padding: 5px 10px;
  color: color('neutral', '100');
  @include tipography('heading');
  white-space: pre-wrap;
  & > span {
    @include tipography('caption');
    color: color('neutral', '400');
  }
}