@import '../../assets/styles/';

.validationCard {
  height: 4.625rem;
  background-color: color('neutral', '700');
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  width: 20.625rem;
  color: color('neutral', '200');
  .icon {
    margin-right: .5rem;
    &.warning {
      fill: color('state', 'warning');
    }
    &.success {
      fill: color('state', 'success');
    }
  }
  & > div {
    display: flex;
    flex-direction: column;
    & > h3 {
      @include tipography('heading');
    }
    & > h4 {
      @include tipography('subheading');
    }
  }
}