.box-tab-normal{
  
}
.box-tab-normal .tab-head{
  display: flex;
}
.box-tab-normal .tab-head > div{
  border: 1px solid var(--primary-bgh);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
.box-tab-normal .tab-head > div.active{
  background-color: var(--primary-bgh);
  color: var(--primary-color);
}
.box-tab-normal .tab-content{
  border: 1px solid var(--primary-bgh);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;
}

.box-tab-custom{
  
}
.box-tab-custom .tab-head{
  display: flex;
}
.box-tab-custom .tab-head > div{
  background-color: var(--list-bg);
  border-bottom: 4px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
}
.box-tab-custom .tab-head > div.active{
  background-color: var(--list-bg);
  border-color: var(--primary-bgh);
  color: var(--primary-bgh);
}
.box-tab-custom .tab-content{
  padding: 10px 0;
}