@import '../../assets/styles/';

.DropdownCheckboxListContainer {
  ::-webkit-scrollbar {
    width: .5rem;
    height: 1rem;
    background: color('background', 'secondary');
    border-radius: 4px;
    &-thumb {
      background-color: color('neutral', '500');
      border-radius: 4px;
      &:hover {
        background-color: color('neutral', '700');
      }
      &:active {
        background-color: color('neutral', '600');
      }
    }
  }
  width: 18.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(0, 0, 0, 0.5);
  padding: .5rem 1rem 1rem 1rem;
  & > .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    & > *:first-child {
      margin-right: .5rem;
    }
  }
  & > .checkList{
    max-height: 16.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: .25rem;
  }

  // Colors
  &.primary {
    background-color: color('background', 'secondary');
  }
  &.secondary {
    background-color: color('neutral', '700');
  }
}