@import '../../assets/styles/';

.timerCell {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: .75rem;
  @include tipography('button');
  & > .icon {
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
  }
  &.timerCell-success {
    & > .icon {
      fill: color('state', 'success');
    }
    color: color('state', 'success');
  }
  &.timerCell-danger {
    & > .icon {
      fill: color('state', 'danger');
    }
    color: color('state', 'danger');
  }
  &.timerCell-warning {
    & > .icon {
      fill: color('state', 'warning');
    }
    color: color('state', 'warning');
  }
  &.timerCell-neutral {
    & > .icon {
      fill: color('neutral', '600');
    }
    color: color('neutral', '600');
  }
}
