@import '../../assets/styles/';
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
// @import "@ag-grid-enterprise/all-modules/dist/styles/ag-grid.scss";
// @import "@ag-grid-enterprise/all-modules/dist/styles/ag-theme-alpine/sass/_ag-theme-alpine-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine((
      // use theme parameters where possible
      alpine-active-color: color('neutral', '600'),
      header-background-color: color('neutral', '1000'),
      background-color: color('neutral', '1000'),
      foreground-color: color('neutral', '100'),
      odd-row-background-color: color('neutral', '1000'),
      border-color: transparent, // Removendo bordas
      secondary-border-color: transparent, // Removendo bordas
      border-radius: 8px 8px 0 0,
      header-column-resize-handle-color: color('neutral', '200'),
      range-selection-border-color: transparent, //Removendo cor de borda da caixa de seleção
      control-panel-background-color: color('neutral', '700'),
      input-focus-border-color: transparent,
      row-hover-color: color('neutral', '700'),
  ));

  // .ag-header {
  //     // or write CSS selectors to make customisations beyond what the parameters support
  //     text-style: italic;
  // }
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: color('neutral', '1100');
    border-radius: 2px;
    &-thumb {
      background-color: color('neutral', '900');
      border-radius: 2px;
      &:hover {
        background-color: color('neutral', '600');
      }
      &:active {
        background-color: color('neutral', '500');
      }
    }
  }
}

.ag-theme-alpine-light {
  @include ag-theme-alpine((
      // use theme parameters where possible
      alpine-active-color: color('neutral', '600'),
      header-background-color: color('neutral', '100'),
      background-color: color('neutral', '100'),
      foreground-color: color('neutral', '1000'),
      odd-row-background-color: color('neutral', '100'),
      border-color: transparent, // Removendo bordas
      secondary-border-color: transparent, // Removendo bordas
      border-radius: 8px 8px 0 0,
      header-column-resize-handle-color: color('neutral', '200'),
      range-selection-border-color: transparent, //Removendo cor de borda da caixa de seleção
      control-panel-background-color: color('neutral', '200'),
      input-focus-border-color: transparent,
      row-hover-color: color('neutral', '200'),
  ));

  // .ag-header {
  //     // or write CSS selectors to make customisations beyond what the parameters support
  //     text-style: italic;
  // }
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: color('neutral', '100');
    border-radius: 2px;
    &-thumb {
      background-color: color('neutral', '400');
      border-radius: 2px;
      &:hover {
        background-color: color('neutral', '200');
      }
      &:active {
        background-color: color('neutral', '500');
      }
    }
  }
}


.ag-theme-alpine-dark {
  @include ag-theme-alpine((
      // use theme parameters where possible
      alpine-active-color: color('neutral', '500'),
      header-background-color: color('background', 'secondary'),
      background-color: color('background', 'secondary'),
      foreground-color: color('neutral', '100'),
      odd-row-background-color: color('background', 'secondary'),
      border-color: transparent, // Removendo bordas
      secondary-border-color: transparent, // Removendo bordas
      border-radius: 8px 8px 0 0,
      header-column-resize-handle-color: color('neutral', '200'),
      range-selection-border-color: transparent, //Removendo cor de borda da caixa de seleção
      control-panel-background-color: color('neutral', '1000'),
      input-focus-border-color: transparent,
      row-hover-color: color('neutral', '700'),
  ));

  // .ag-header {
  //     // or write CSS selectors to make customisations beyond what the parameters support
  //     text-style: italic;
  // }
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: color('background', 'secondary');
    border-radius: 2px;
    &-thumb {
      background-color: color('neutral', '900');
      border-radius: 2px;
      &:hover {
        background-color: color('neutral', '600');
      }
      &:active {
        background-color: color('neutral', '500');
      }
    }
  }
}


.ag-theme-alpine, .ag-theme-alpine-dark {
  .ag-header-cell-text {
    @include tipography('caption');
  }
  .ag-row {
    border-top : none !important;
  }
  .ag-cell {
    @include tipography('label');
    display: flex;
    align-items: center;
    border-radius: 0px;
    border: none !important;
  }
  .ag-header {
    height: 48px !important;
    min-height: 48px !important;
    border-bottom-width: 0px;
  }
  .ag-header-row-column {
    border-bottom: none;
  }
  .ag-pinned-left-cols-container {
    background-color: color('neutral', '800');
    & > div[role='row'] {
      background-color: transparent;
      border-right: 2px solid color('neutral', '700');
    }
    .ag-row-hover {
     background-color: color('neutral', '700');
    }
  }
  .ag-pinned-left-header {
    background-color: color('neutral', '800');
    border-right: 2px solid color('neutral', '700');
  }
  .ag-pinned-left-cols-container > div[role='row']:hover {
    background-color: color('neutral', '700');
  }
  .ag-react-container {
    width: 100%;
    height: 100%;
  }
}




// SASS TO REMOVE 

.RateTableColumnSelectedBackground {
  background-color: color('neutral', '700');
}