@import '../../assets/styles/';

.headerEc {
  display: flex;
  align-items: center;
  height: 7.25rem;
  padding-right: 2rem;
  background-color: #fff;
  .content {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & > .statusBar {
        width: 18.75rem;
    }
    & > .progressBar {
      min-width: 18.75rem;
      width: 35vw;
      margin-right: 10%;
    }
    & > .leftItems {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 38%;
      .button {
        margin-left: 2em;
      }
      & > .leftInfo {
        text-align: right;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title {
          @include tipography('ec-caption');
          color: color('primary', 'default');
        }
        .value {
          @include tipography('display-xlarge');
          color: color('primary', 'default');
        }
      }
    }
    
    & > .rightInfo {
      text-align: right;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .dropdownHeader {
        padding-left: 0;
        span {
          color: color('neutral', '500');
          div {
            display: block;
            min-width: 140px;
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
          }
        }
        svg {
          fill: color('neutral', '500');
        }
      }
      span {
        @include tipography('caption');
      }
    }
  }
}