@import '../../assets/styles/';

.modalWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  & > .modal {
    width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: color('neutral', '1000');
    min-height: 300px;
    margin: auto;
    border-radius: 8px;
    z-index: 10;
    animation: anim .3s ease-out;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(-50vh) scale(.8);
  }
  50% {
    opacity: .8;
    transform: translateY(-20vh) scale(1.05);
  }
  100% {    
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}