.box-progress-bar{
  margin-bottom: 15px;
}
.box-progress-bar .cal-iten.cal-100{
  padding: 0 10px;
}
.box-progress-bar .bar{
  border: 1px solid var(--primary-bgh);
  border-radius: 4px;
  overflow: hidden;
}
.box-progress-bar .bar > div{
  height: 15px;
  background-color: var(--primary-bg);
}
.box-progress-bar .cal-group > div:nth-child(1){
  padding-right: 10px;
  vertical-align: middle;
}
.box-progress-bar .cal-group > div:nth-child(3){
  padding-left: 10px;
  vertical-align: middle;
  text-align: right;
}


.box-progress-bar .bar.secondary{
  border-color: var(--secondary-bgh);
}
.box-progress-bar .bar.secondary > div{
  background-color: var(--secondary-bg);
}
.box-progress-bar .bar.success{
  border-color: var(--success-bgh);
}
.box-progress-bar .bar.success > div{
  background-color: var(--success-bg);
}
.box-progress-bar .bar.error{
  border-color: var(--error-bgh);
}
.box-progress-bar .bar.error > div{
  background-color: var(--error-bg);
}
.box-progress-bar .bar.warning{
  border-color: var(--warning-bgh);
}
.box-progress-bar .bar.warning > div{
  background-color: var(--warning-bg);
}