.menuWizard {
  padding-bottom: 5px;
  overflow: auto;
}
.menuWizard > div {
  display: flex;
  align-items: center;
}
.menuWizard > div > div {
  display: flex;
  align-items: center;
}
.menuWizard span{
  background-color:  var(--background-sidebar-h);
  display: inline-block;
  height: 10px;
  min-width: 15px;
}
.menuWizard button {
  background-color: transparent;
  border: 1px solid var(--background-sidebar-h);
  border-radius: 50px;
  color: var(--background-sidebar-h);
  cursor: pointer;
  padding: 4px 8px;
  transition: all 0.2s;
  text-align: left;
  max-width: 84px;
}
.menuWizard button:hover,
.menuWizard button.active {
  background-color: var(--background-sidebar-h);
  color: var(--color-sidebar-h);
  transition: all 0.2s;
}
.menuWizard .info-menuWizard{
  position: absolute;
  display: none;
}