@import '../../assets/styles/';

.checkbox {
  display: flex;
  align-items: center;
  padding: 0 .75rem;
  height: 2.5rem;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  strong {
    color: color('neutral', '100');
    text-decoration: underline;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      color: color('neutral', '200');
    }
  }
  .box {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    margin-right: 1rem;
    border: 1px solid color('neutral', '400');
    background-color: color('neutral', '100');
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    .check {
      display: none;
    }
  }
  &.checked {
    color: color('neutral', '200');
    .box {
      border-color: color('primary', 'dark');
      background-color: color('primary', 'light');
      .check {
        display: block;
        fill: color('neutral', '1000');
      }
    }
  }
  &.primary {
    @include tipography('button');
    color: color('neutral', '500');
  }
  &.secondary {
    @include tipography('label');
    color: color('neutral', '100');
  }
}