:root {
  --primary-bg: #0085a7;
  --primary-bgh: #015d74;
  --primary-color: #fff;

  --secondary-bg: #222;
  --secondary-bgh: #444;
  --secondary-color: #fff;

  --success-bg: #008327;
  --success-bgh: #00561a;
  --success-color: #fff;

  --error-bg: #940404;
  --error-bgh: #640101;
  --error-color: #fff;

  --warning-bg: #c47500;
  --warning-bgh: #915700;
  --warning-color: #fff;
}

#root-alert {
  position: fixed;
  top: 10px;
  /* left: 10px; */
  right: 10px;
}
#root-alert .box-alert {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  color: #333;

  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  min-width: 250px;
}
#root-alert .box-alert > div {
  padding: 8px 8px 8px 15px;
}
#root-alert .alert-close {
  align-items: center;
  align-self: flex-start;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  margin: 4px 4px 0 0;
  width: 25px;
}
#root-alert .alert-close:hover {
  background-color: #fff;
}
#root-alert .alert-close:focus {
  position: relative;
  top: 1px;
  outline: none;
}

#root-alert .alert-primary {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-bgh);
  color: var(--primary-color);
}
#root-alert .alert-primary .alert-close {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}
#root-alert .alert-primary .alert-close:hover {
  background-color: var(--primary-bgh);
  color: var(--primary-color);
}

#root-alert .alert-secondary {
  background-color: var(--secondary-bg);
  border: 1px solid var(--secondary-bgh);
  color: var(--secondary-color);
}
#root-alert .alert-secondary .alert-close {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
}
#root-alert .alert-secondary .alert-close:hover {
  background-color: var(--secondary-bgh);
  color: var(--secondary-color);
}

#root-alert .alert-success {
  background-color: var(--success-bg);
  border: 1px solid var(--success-bgh);
  color: var(--success-color);
}
#root-alert .alert-success .alert-close {
  background-color: var(--success-bg);
  color: var(--success-color);
}
#root-alert .alert-success .alert-close:hover {
  background-color: var(--success-bgh);
  color: var(--success-color);
}

#root-alert .alert-error {
  background-color: var(--error-bg);
  border: 1px solid var(--error-bgh);
  color: var(--error-color);
}
#root-alert .alert-error .alert-close {
  background-color: var(--error-bg);
  color: var(--error-color);
}
#root-alert .alert-error .alert-close:hover {
  background-color: var(--error-bgh);
  color: var(--error-color);
}

#root-alert .alert-warning {
  background-color: var(--warning-bg);
  border: 1px solid var(--warning-bgh);
  color: var(--warning-color);
}
#root-alert .alert-warning .alert-close {
  background-color: var(--warning-bg);
  color: var(--warning-color);
}
#root-alert .alert-warning .alert-close:hover {
  background-color: var(--warning-bgh);
  color: var(--warning-color);
}
