html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-logo {
  transition: fill 1s;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* box-shadow: inset 0 0 5px #0b240b; */
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3e5055;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #2f3d41;
}
