.btn-file-center{
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.btn-file-center button{
  position: relative;
  margin: 0 5px;
}
.btn-file-center input{
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% + 150px);
}
.bg-img-default{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
  position: relative;
  overflow: hidden;
}
.bg-img-default > div{
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg-img-default > img{
  display: flex;
  position: relative;
}