@import '../../assets/styles/';

.infoNumber {
  display: flex;
  flex-direction: column;
  & > span {
    @include tipography('display-xxlarge');
    margin-bottom: .25rem;
  }
  & > .danger {
    color: color('state', 'danger');
  }
  & > .warning {
    color: color('state', 'warning');
  }
  & > .success {
    color: color('state', 'success');
  }
  & > .neutral {
    color: color('neutral', '500');
  }
}