@import '../../assets/styles/';

.priceCard {
  border-radius: 8px;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  height: 6rem;
  display:flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &.opacity {
    opacity: .5;
    cursor: initial;
    &:hover, &:active {
      background-color: transparent !important;
    }
  }

  &:hover {
    background-color: color('neutral', '900');
  }

  &:active {
    background-color: color('neutral', '1000');
  }

  &.selected {
    background-color: color('neutral', '600');
    cursor: initial;

    &:hover {
      background-color: color('neutral', '600');
    }
  
    &:active {
      background-color:color('neutral', '600');
    }
  }

  & > .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: color('neutral', '500');
    color: color('neutral', '1100');
    border-radius: 4px;
    min-width: 2.5rem;
    min-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    @include tipography('caption');
    line-height: 13px;
    & > span {
      @include tipography('heading');
      line-height: 18px;
    }
  }
  & > .labels {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  & > .editInput {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    & > .input {
      width: 5.5rem;
      min-width: 5.5rem;
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }

  & > .rate {
    display: flex;
    @include tipography('heading');
    align-items: center;
    & > span {
      width: .625rem;
      height: .625rem;
      min-width: .625rem;
      min-height: .625rem;
      margin-left: .75rem;
      border-radius: 100px;
      &.danger {
        background-color: color('state','danger');
      }
      &.success {
        background-color: color('state','success');
      }
    }
  }

  .timer {
    position: absolute;
    right: 1rem;
    top: .5rem;
  }
}